{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}?ver=1">
    <script>
        $(function() {
            $("[name='product_delete']").click(function() {
                if(confirm("해당 타입을 삭제하시겠습니까?")) {
                    $(this).parent().parent().next()[0].submit()
                }
            })

            function deleteitem() {
                const item = document.getElementById('item');
                item.remove();
            }
            $("[name='title_input']").change(function(){
                $("[name='title']").val($(this).val());
            });
            $("[name='price_input']").change(function(){
                $("[name='price']").val($(this).val());
            });
            $("[name='description_input']").change(function(){
                $("[name='description']").val($(this).val());
            });
            $("[name='image_input']").change(function(){
                $("[name='img']").val($(this).val());
            });
        })
    </script>
{% endblock %}

{% block contents %}
{% comment %} <div class="modal fade" id="logneed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Login이 필요합니다.</h3>
            </div>
            <div class="modal-body">
                <h5>Custom을 하기위해 로그인을 하시겠습니까?<br>
                <h6>간편한 가입과 로그인을 통해 직접 커스텀상품을 제작하고 판매할 수 있습니다. 
                    *'매거진'과 '맞춤형 상품 추천 컨텐츠'는 로그인 없이 이용가능합니다.*
            </div>
            <div class="modal-footer">
                <a id="backbtn" class="btn">취소.</a>
                <a id="addbtn" href="{% url 'User:user_login' %}" class="btn btn-dark" type="button" data-dismiss="modal">로그인</a>
            </div>
        </div>
    </div>
</div> {% endcomment %}


    <div class="modal fade" id="p_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="True">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>관리자_타입추가</h3>
                </div>
                <form action="{% url 'Order:order' %}" method="POST" name="type_adder" class="modal-body" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="">상품명</label>
                        <input type="text" name="title_input" class="form-control" required>
                    </div>
                    <div>
                        <label for="">가격</label>
                        <input type="number" name="price_input"  class="form-control" required>
                    </div>
                    <div style="margin-bottom:40px">
                        <label for="">상품상세 설명</label>
                        <textarea name="description_input"  class="form-control w-80" required></textarea>
                    </div>
                    <div>
                        <label for="">상세이미지</label>
                        <input type="file" name="image_input"  class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" type="button" data-bs-dismiss="modal">취소</button>
                        <button id="addbtn" class="btn btn-dark">추가</button>
                    </div>
                </form>
                
                <form action="{% url 'Order:order' %}" method="GET">
                    <input type="hidden" name="title">
                    <input type="hidden" name="price">
                    <input type="hidden" name="description">
                    <input type="hidden" name="img">
                </form>
            </div>
        </div>
    </div>

    <div class="ordertext pt-3">
        <div>
        {% if session.admin %}
            <button id="product_add" class="btn btn-dark" style="float:right;" data-bs-toggle="modal" data-bs-target="#p_add">상품추가</button>
        {% endif %}
        </div>
        <h3>주문/제작 하기
        <h6>자체제작 고급 원단에 나만의 제품을 제작해보세요. 원하는 카테고리 상품을 선택하면 CUSTOM을 시작할 수 있습니다.
    </div>
    <div class="pcontain">
        <ul id="te">
            {% for type in types %}
                <form action="{% url 'Order:order_des' %}" method="GET">
                    <input type="hidden" value="{{ type.title }}" name="type_title">
                    <input type="hidden" value="{{ type.description }}" name="type_desc">
                    <input type="hidden" value="{{ type.img }}" name="type_img">
                    <input type="hidden" value="{{ type.price }}" name="type_price">
                    <li id="item">
                        {% if session.admin %}
                            <button type="button" class="btn btn-danger" name="product_delete">X</button>
                        {% endif %}
                        <div class="p">
                            <button style="border:none">
                                <img id="pimg" src="{{ type.img }}"  class="rounded" style="background-color: #272831;">
                                <p id="ptext">
                                    {{ type.title }}<br>
                                    {{ type.price }}원
                                </p>
                            </button>
                        </div>
                    </li>
                </form>
                <form action="{% url 'Order:order_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ type.title }}" name="type_delete">
                </form>
            {% endfor %}
        </ul>
    </div>

{% endblock %}