{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <style>
        #admin_nav li a {
            color: #fff;
        }

        #admin_nav li a:hover {
            color: #262626;
            background-color: #fff;
        }

        .container {
            min-width: 950px;
        }

        .left_info>div,
        .right_info>div {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #nav_fixed {
            left: 5%;
            top: 30%;
        }
    </style>
    
    <script src="{% static 'js/admin.js' %}"></script>
{% endblock %}

{% block contents %}
    <div class="d-flex mt-5 mb-5">
        <div class="w-25 d-flex justify-content-center align-items-center">
            <div style="border-radius: 25px;" id="nav_fixed" class="position-fixed p-3 text-center bg-dark border border-3 border-light text-white d-flex align-items-center">
                <nav class="navbar navbar-dark bg-dark px-3">
                    <ul class="nav d-flex flex-column" id="admin_nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-light rounded">사이트 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Main:admin_account' %}">계좌 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Main:admin_member' %}">회원 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Main:admin_point' %}">적립금 관리</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <form class="w-100 manage_form" action="." method="POST">
            {% csrf_token %}
            <div class="d-flex mb-3">
                <button type="button" class="w-50 btn btn-outline-dark left_info_btn" disabled>사업자정보</button>
                <button type="button" class="w-50 btn btn-outline-dark right_info_btn">쇼핑몰정보</button>
            </div>
            <div class="w-100 h-100 left_info">
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>회사명</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.name }}" name="name">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>회사대표</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.ceo }}" name="ceo">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>회사메일</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.email }}" name="email">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>사업자등록번호</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.number }}" name="number">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>회사주소</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.address }}" name="address">
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <button class="m-3 btn btn-success" type="button" onclick="location.href='{% url 'Main:home' %}'">홈으로</button>
                    <button class="m-3 btn btn-primary">수정</button>
                </div>
            </div>
            <div class="w-100 right_info">
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>태그 노출 여부</strong></label>
                    <div class="col-sm-10 d-flex">
                        <input type="hidden" name="tag_expose" value="{{ config.tag_show }}">
                        {% if config.tag_show %}
                            <button type="button" class="w-50 btn btn-primary fw-bold" id="tag_show" disabled>SHOW</button>
                            <button type="button" class="w-50 btn btn-outline-danger fw-bold" id="tag_hide">HIDE</button>
                        {% else %}
                            <button type="button" class="w-50 btn btn-outline-primary fw-bold" id="tag_show">SHOW</button>
                            <button type="button" class="w-50 btn btn-danger fw-bold" id="tag_hide" disabled>HIDE</button>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>사이트명</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.site_name }}" name="site_name">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>영업시간</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.sale_time }}" name="sale_time">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>점심시간</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.lunch_time }}" name="lunch_time">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label for="" class="col-sm-2 col-form-label text-center"><strong>공휴일</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ config.holiday }}" name="holiday">
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <button class="m-3 btn btn-success" type="button" onclick="location.href='{% url 'Main:home' %}'">홈으로</button>
                    <button class="m-3 btn btn-primary">수정</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}