{% extends 'base.html' %}

{% block attachment %}
    {% load static %}

    <style>
        .container {
            min-width: 768px;
        }
    </style>

    <script>
       $(function () {
            $("[name='amount']").change(function () {
                for (let i = 0; i < $("[name='amount']").length; i++) {
                    if ($("[name='amount']")[i] == $(this)[0]) {
                        $("[name='price']")[i].value = $(this).val() * $("[name='original_price']")[i].value
                    }
                }

                
                $(this).parent().submit();
            })

            var cnt2 = 0
            $("[name='item_selector']").each(function () {
                if ($(this)[0].checked) {
                    cnt2++;
                }

                if (cnt2 == $("[name='item_selector']").length) {
                    $("#item_all_selector")[0].checked = true;
                } else {
                    $("#item_all_selector")[0].checked = false;
                }

                $(this).change(function () {
                    if (!$(this)[0].checked) {
                        $("#item_all_selector")[0].checked = false;
                    }
                })
            });

            var cnt = 0
            for (let i = 0; i < $("[name='amount']").length; i++) {
                if ($("[name='item_selector']")[i].checked) {
                    $("[name='price']")[i].value = $("[name='amount']")[i].value * $("[name='original_price']")[i].value;
                } else {
                    $("[name='price']")[i].value = 0;
                }

                cnt += parseInt($("[name='price']")[i].value);
            };
            $("[name='total_price']").val(cnt);
            $("[name='total_point']").val(`${cnt / $("#return_point").val()}원 적립 예정`);

            $("[name='checked_form']").each(function () {
                $(this).find("input").change(function () {
                    $(this).parent()[0].submit()
                })
            })

            $("#item_all_selector").change(function () {
                if ($(this)[0].checked) {
                    $("[name='item_selector']").each(function () {
                        $(this)[0].checked = true;
                        $("[name='item_all_bool']").val("True");
                    });
                } else {
                    $("[name='item_selector']").each(function () {
                        $(this)[0].checked = false;
                        $("[name='item_all_bool']").val("False");
                    });
                }
                $("#item_all_form").submit();
            })

            $("#item_delete").on('submit', function () {
                if (confirm("해당 상품을 장바구니에서 제거하시겠습니까?")) {
                    return true;
                }
                return false;
            })
        }) 
    </script>
{% endblock %}

{% block contents %}
    <div class="container">
        <div class="bg-dark rounded pt-5 pb-5 row text-white text-center">
            <div class="col-sm-1 d-flex justify-content-center align-contents-center">
                <form action="." method="POST" id="item_all_form" class="d-flex justify-content-center align-items-center">
                    {% csrf_token %}
                    <input type="hidden" name="item_all_bool" value="{% if cart.checked %}True{% else %}False{% endif %}">
                    <input type="checkbox" style="width: 30px; height: 30px;" id="item_all_selector" {% if cart.checked %}checked{% endif %}>
                </form>
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                <h5><strong>상품 이미지</strong></h5>
            </div>
            <div class="col-sm-5 d-flex justify-content-center align-items-center">
                <h5><strong>상품 상세 설명</strong></h5>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <h5><strong>상품 수량</strong></h5>
            </div>
            <div class="col-sm-1 d-flex justify-content-center align-items-center text-danger">
                <h5><strong>삭제</strong></h5>
            </div>
        </div>
    </div>
    <div>
        {% if carts %}
            {% for cart in carts %}
                <div class="container">
                    <div class="rounded row">
                        <form action="{% url 'Main:cart_checked' cart.id %}" method="POST" name="checked_form" class="border col-sm-1 d-flex justify-content-center align-items-center">
                            {% csrf_token %}
                            <input type="checkbox" style="width: 30px; height: 30px;" name="item_selector" {% if cart.checked %}checked{% endif %}>
                        </form>
                        <div class="border col-sm-3 d-flex justify-content-center align-items-center">
                            <img class="w-100" src="{{ cart.product.img }}" alt="장바구니_이미지">
                        </div>
                        <div class="border col-sm-5 d-flex flex-column justify-content-center">
                            <h4><strong>{{ cart.user.nickname }} 님의 작품</strong></h4>
                            <hr>
                            <h5>사이즈: {{ cart.product.size }}</h5>
                            <h5>지금 주문 시: {{ current_time | date:"Y/m/d" }} 도착 예정</h5>
                        </div>
                        <div class="border col-sm-2 d-flex justify-content-center align-items-center">
                            <form action="{% url 'Main:cart_number' cart.id %}" method="POST" id="amount_form">
                                {% csrf_token %}
                                <select class="form-select" aria-label="Default select example" name="amount">
                                    <option value="1" {% if cart.amount == 1 %}selected{% endif %}>1</option>
                                    <option value="2" {% if cart.amount == 2 %}selected{% endif %}>2</option>
                                    <option value="3" {% if cart.amount == 3 %}selected{% endif %}>3</option>
                                    <option value="4" {% if cart.amount == 4 %}selected{% endif %}>4</option>
                                    <option value="5" {% if cart.amount == 5 %}selected{% endif %}>5</option>
                                    <option value="6" {% if cart.amount == 6 %}selected{% endif %}>6</option>
                                    <option value="7" {% if cart.amount == 7 %}selected{% endif %}>7</option>
                                    <option value="8" {% if cart.amount == 8 %}selected{% endif %}>8</option>
                                    <option value="9" {% if cart.amount == 9 %}selected{% endif %}>9</option>
                                    <option value="10" {% if cart.amount == 10 %}selected{% endif %}>10</option>
                                </select>
                            </form>
                        </div>
                        <div class="border col-sm-1 d-flex justify-content-center align-items-center">
                            <form id="item_delete" action="{% url 'Main:cart_delete' cart.id %}" method="POST">
                                {% csrf_token %}
                                    <button class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                            </form>
                        </div>
                        <div class="bg-dark text-white d-flex justify-content-end align-items-center p-3">
                            <div class="p-3 d-flex justify-content-center align-items-center text-light">
                                <div class="input-group">
                                    <span class="input-group-text text-center bg-dark text-white fw-bold border-0"></span>
                                        <input type="hidden" value="{{ cart.product.type.price }}" name="original_price">
                                        <input type="text" value="{{ cart.product.type.price }}" name="price" class="form-control text-center bg-dark text-white fw-bold fs-3" aria-label="Amount (to the nearest dollar)" disabled>
                                    <span class="input-group-text text-center bg-dark text-white fw-bold">￦</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="d-flex justify-content-center align-items-center p-5 m-5 text-danger">
                    <h1>표시할 물품이 없습니다.</h1>
                </div>
                <div class="d-flex justify-content-center align-items-center m-5 text-danger">
                    <a class="btn btn-outline-dark fw-bold" href="{% url 'Order:order' %}">커스텀 하러 하기</a>
                </div>
        {% endif %}
    </div>
    
    <div class="bg-light border-top border-bottom border-3 p-5 m-3 fw-bold">
        <div class="input-group d-flex justify-content-center align-items-center">
            <span class="input-group-text bg-light fw-bold border-0 fs-2">총 가격:</span>
                <input type="text" value="0" name="total_price" class="border-0 bg-light text-center text-danger fw-bold fs-1" disabled>
            <span class="input-group-text text-center bg-light fw-bold border-0 fs-2">￦</span>
        </div>
        <div class="mt-2 d-flex justify-content-center align-items-center p-2">
            <input type="hidden" value="{{ config.return_point }}" id="return_point" disabled>
            <input type="text" name="total_point" class="mt-3 border-0 text-center bg-light fw-bold" disabled>
        </div>
    </div>

    <div class="d-flex justify-content-evenly align-items-center mb-5">
        <a class="d-flex align-items-center justify-content-center fw-bold fs-3 btn btn-danger w-50 m-5" style="height: 70px;" href="{% url 'Recommendation:finished' %}">계속 쇼핑하기</a>
        <a class="d-flex align-items-center justify-content-center fw-bold fs-3 btn btn-primary w-50 m-5" style="height: 70px;" href="{% url 'Order:payment' %}">구매하러 가기</a>
    </div>
{% endblock %}