{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}?ver=1">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
            window.Kakao.init("d0a089899d52dada0e103d8ad4697d13");

            function kakaoLogin() {
                window.Kakao.Auth.login({
                    scope: 'profile_nickname, account_email',
                    success: function(authObj) {
                        console.log(authObj)
                        window.Kakao.API.request({
                            url: '/v2/user/me',
                            success: res => {
                                Kakao_account = res.kakao_account;
                                if (confirm("카카오 계정으로 로그인 하시겠습니까?")) {
                                    $("[name='api_email']").val(Kakao_account.email);
                                    $("[name='api_nickname']").val(Kakao_account.profile.nickname);
                                    $("[name='api_password']").val(authObj.access_token);
                                    $("#api_login").submit();
                                }
                            }
                        });
                    }
                })
            }

            
        </script>
{% endblock %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
        <hr>
        <h5 class="text-danger">{{ error }}</h5>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="."> 
            {% csrf_token %}
            <div class="form-group mt-3 mb-5 row">
                <label for="email" class="col-sm-2 col-form-label text-center"><strong>이메일</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일">
                </div>
            </div>
            <div class="form-group mt-3 row">
                <label for="password" class="col-sm-2 col-form-label text-center"><strong>비밀번호</strong></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
                </div>
            </div>
            <div class="d-flex justify-content-evenly align-items-center mt-5">
                <a href="javascript:kakaoLogin();">
                    <img
                        src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                        width="222"
                        alt="카카오 로그인 버튼"
                    />
                </a>
            </div>
            <div class="row p-2 mt-2">
                <button class="btn btn-primary mt-3 text-center col-sm">로그인</button>
                <a class="btn btn-dark mt-3 text-center col-sm" href="{% url 'User:user_register' %}">회원가입</a>
            </div>
        </form>

        <div class="form-row mt-3 text-center">
            <a class="btn btn-outline-warning col-2" href="{% url 'User:find_pw' %}" role="button" >비밀번호 찾기</a>
        </div>
        
    </div>
</div>
<br>
<br>

<form action="{% url 'User:api_login' %}" method="POST" id="api_login">
    {% csrf_token %}
    <input type="hidden" value="" name="api_email">
    <input type="hidden" value="" name="api_nickname">
    <input type="hidden" value="" name="api_password">
    <input type="hidden" value="True" name="api_kakao">
</form>


{% endblock %}