{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}?ver=1">
    <script src="{% static 'js/user.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>Plain Valley 회원가입</h1>
    </div>
</div>

<div class="row mt-3 text-center">
    <div class="col-12 text-danger">
        {{ error }} 
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="POST" action="." id="sign_form">
            {% csrf_token %}  
            <div class="form-group mt-3">
                <label for="email" >이메일(필수사항)</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요(aaa@mail.com)" pattern="^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
            </div>
            <div class="form-group mt-3">
                <label for="password">비밀번호(필수사항)</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호(숫자,영문,특수문자 조합 최소8자)" required>
            </div>
            <div class="form-group mt-3">
                <label for="re-password">비밀번호 확인</label>
                <input type="password" class="form-control" id="re-password" name="re-password" placeholder="비밀번호를 다시 입력해주세요" required>
            </div>

            <div class="form-group mt-3">
                <label for="contact">연락처(필수사항)</label>
                <input type="tel" class="form-control" id="contact" name="contact" placeholder="010-0000-0000" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>


            </div>

            <div class="AgreeBox">
                
                <input id="allcheck" type="checkbox" name="allcheck" onclick="ch()">
                <label for="allcheck">모두 동의</label>
                <br>

                <input id="check_1" type="checkbox" name="check_1" onclick="ch()">
                <label for="check_1">개인정보 수집 및 이용 동의 (필수)</label>
                <a href="#" data-toggle="modal" data-target="#agree1" style="text-decoration:none">내용보기</a>
                <br>
     
                <input id="check_2" type="checkbox" name="heck_2" onclick="ch()">
                <label for="check_2">서비스이용약관 및 운영원칙 (필수)</label>
                <a href="#" data-toggle="modal" data-target="#agree2" style="text-decoration:none">내용보기</a>

            </div> 
            <div style="text-align:center;">
                <button type="submit" class="btn btn-outline-dark mt-3 col-4" >가입</button>
            </div>

        </form>
    </div>
</div>





<div class="modal fade" id="agree1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">개인정보 수집 및 이용 동의</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <h5>개인정보의 수집 및 이용 동의서</h5>
            (주)Plain Valley은 아래의 목적으로 개인정보를 수집 및 이용하며, 회원의 개인정보를 안전하게 취급하는데 최선을 다하고 있습니다.<br>
            <br>
            1. 수집목적<br>
            - 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산<br>
            - 민원사무 처리<br>
            - 재화 또는 서비스 제공<br>
            <br>
            2. 수집항목<br>
            회원가입 시<br>
            (필수) 아이디, 비밀번호, 이메일, 이름, 생년월일, 휴대폰번호<br>
            <br>
            3. 보유기간<br>
            수집된 정보는 회원탈퇴 요청 5일 후 지체없이 파기됩니다. 다만 내부 방침에 의해 서비스 부정이용기록은
            부정 가입 및 이용 방지를 위하여 회원 탈퇴 시점으로부터 최대 1년간 보관 후 파기하며,
            관계법령에 의해 보관해야 하는 정보는 법령이 정한 기간 동안 보관한 후 파기합니다.
            서비스 제공을 위해 필요한 최소한의 개인정보이므로 동의를 해 주셔야 서비스 이용이 가능합니다.<br>
            <br>
            4. 동의 거부시 불이익<br>
            귀하는 개인정보 제공 등에 관해 동의하지 않을 권리가 있습니다. 다만, 필수수집 동의를 하지 않을 경우 가입이 제한될 수 있습니다.<br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>

<div class="modal fade" id="agree2" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">서비스이용약관 및 운영원칙</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            [이용약관]<br>
 
            제1조(목적)<br>
            이 약관은 (주)Plain Valley(이하 “회사”라 한다)이 운영하는 온라인 스토어(이하 “몰”이라 한다)에서 제공하는
            인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.<br>
            <br>
            제2조(용어의 정의)<br>
            ① “몰” 이란 회사가 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화
            등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.<br>
            ③ “회원”이라 함은 “몰”이 정한 가입절차에 따라 회원등록을 한 자로서, “몰”이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.<br>
            <br>
            제3조 (약관 등의 명시와 설명 및 개정)<br>
            ① “몰”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함),
            전화번호 ∙ 모사전송번호 ∙ 전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록
            “몰”의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.<br>
            ② ”몰"은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회 ∙ 배송책임 ∙ 환불조건 등과 같은 중요한 내용을
            이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.<br>
            ③ “몰”은 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제에 관한 법률』, 『전자거래기본법』, 『전자서명법』,
            『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『방문판매 등에 관한 법률』, 『소비자기본법』 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
            ④ “몰”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
            다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다.
            이 경우 "몰“은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.<br>
            ⑤ “몰”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는
            개정전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제4항에 의한
            개정약관의 공지기간내에 ‘몰“에 송신하여”몰“의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br>
            ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률,
            약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 『전자상거래 등에서의 소비자 보호지침』 및 관계법령 또는 상관례에 따릅니다.<br>
            <br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>

<br>
<br>

<script>
$(function() {
    $("#allcheck").on('click', function() {
        if ($("#allcheck")[0].checked) {
            $("#check_1")[0].checked = true;
            $("#check_2")[0].checked = true;
        } else {
            $("#check_1")[0].checked = false;
            $("#check_2")[0].checked = false;
        }
    })

    $("#check_1").click(function() {
        if (!$("#check_1")[0].checked) {
            $("#allcheck")[0].checked = false;
        }

        if ($("#check_1")[0].checked && $("#check_2")[0].checked) {
            $("#allcheck")[0].checked = true;
        }
    })

    $("#check_2").click(function() {
        if (!$("#check_2")[0].checked) {
            $("#allcheck")[0].checked = false;
        }

        if ($("#check_1")[0].checked && $("#check_2")[0].checked) {
            $("#allcheck")[0].checked = true;
        }
    })

    $("#sign_form").on("submit", function() {
        if (!$("#allcheck")[0].checked) {
            alert("동의 항목을 모두 체크해주시길 바랍니다.");
            return false;
        }
        return true;
    })

})
 </script>

{% endblock %}