{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
<script src="{% static 'js/cs.js' %}"></script>
{% endblock %}

{% block contents %}
<div style="margin-top: 80px;">
    <h2>1:1 문의</h2>
    <h6>1:1 문의입니다.</h6>
    <hr>
</div>
<div class="mb-3 mt-3 clearfix">
    <span class="float-end ms-4">작성일 {{ oto.reg_date|date:"Y-m-d" }}</span>
</div>

<section>
    <div class="mb-3 mt-3">
        <label for="title">제목</label>
        <div class="border bg-light rounded p-2">{{ oto.title }}</div>
    </div>
    <div class="mb-3 mt-3">
        <label for="content">내용</label>
        <div class="border bg-light rounded p-2">{{ oto.contents }}</div>
    </div>
    <div class="mb-3 mt-3">
        <label for="answer">답변</label>
        <div class="border bg-light rounded p-2">{{ oto.answer }}</div>
    </div>
    <div style="margin-bottom:80px;">
        {% if session.admin %}
        <a class="btn btn-dark" href="{% url 'Cs:oto_answer' oto.id %}">답변하기</a>
        {% endif %}
        <a class="btn btn-dark" href="{% url 'Cs:oto_list' %}">목록가기</a>

        <form action="#" name="delete" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ oto.id }}">
        </form>
    </div>


</section>
{% endblock %}